body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #007acc;
}

p {
    font-size: 1.2em;
}

.social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  
  .social-media li {
    display: inline;
  }
  
  .social-media a {
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:hover {
    color: #007acc; /* Couleur de survol */
  }
  