<li class="post-preview">
  <article>
    <a href="{{ include.project.url | absolute_url }}">
      <h2 class="post-title">{{ include.project.title | strip_html }}</h2>
      {% if include.project.subtitle %}
      <h3 class="post-subtitle">
        {{ include.project.subtitle | strip_html }}
      </h3>
      {% endif %}
    </a>
    
    {% if include.project.feature-image %}
    <div class="feature-image-container">
      <a href="{{ include.project.url | absolute_url }}">
        <img class="feature-image" src="{{ include.project.feature-image | absolute_url }}" alt="Feature image for {{ include.project.title }}">
      </a>
    </div>
    {% endif %}
    
    {% if include.project.author %}
    <span>By <strong>{{ include.project.author | strip_html }}</strong></span>
    {% endif %}
    <p class="post-meta">
      {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
      Posted on {{ include.project.date | date: date_format }}
    </p>
    
    <div class="post-entry">
      {% assign excerpt_length = site.excerpt_length | default: 50 %}
      {{ include.project.excerpt | strip_html | truncatewords: excerpt_length }}
      {% assign excerpt_word_count = include.project.excerpt | number_of_words %}
      {% if include.project.content != include.project.excerpt or excerpt_word_count > excerpt_length %}
        <a href="{{ include.project.url | absolute_url }}" class="post-read-more">[Read More]</a>
      {% endif %}
    </div>
    
    {% if site.feed_show_tags != false and include.project.tags.size > 0 %}
    <div class="blog-tags">
      <span>Tags:</span>
      <ul class="d-inline list-inline" role="list">
        {% for tag in include.project.tags %}
        <li class="list-inline-item">
          <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </article>
</li>